@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  
  font-family: "Mulish";
  background-color: rgba(255, 230, 220, .72);

  text-rendering: optimizeLegibility;
}

body {

  margin: 0;
}